html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 960px;
}

/*HEADER SECTION*/

.header-desktop {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding-left: 24px;
  font-size: 1.5rem;
}
.logo img {
   height: 3.8rem;
}

.logo span {
  align-self: center;
}

.header-desktop nav {
  padding-right: 24px;
}

.header-desktop nav span {
  padding-left: 16px;
}

.header-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    width: 460px;
  }
}

.banner {
  display: inline-flex;
  padding: 32px 24px;
  background-color: skyblue;
  width: 960px;
  align-items: center;
}

.banner img {
  width: 552px;
  height: auto;
}

.welcome {
 width: 336px;
 padding-left: 24px;
}

.welcome h1 {
  font-size: 2.25rem;
  text-align: left;
}

.welcome p {
  font-size: 1.5rem;
  text-align: left;
}

.welcome h4 {
  height: 32px;
  text-align: center;
  font-size: 1.25rem;
  width: 100%;
  color: white;
  background-color: gray;
  padding-top: 8px;
}

@media only screen and (max-width: 480px) {

   main {
     display: flex;
     flex-direction: column;
   }

  .banner {
    display: flex;
    width: 480px;
    flex-direction: column;
    background-color: skyblue;
    padding-top: 0px;
  }

  .banner img {
    width: 100%
    height: auto;
  }

   .welcome {
   align-self: stretch;
   padding-left: 0px;
   padding-right: 0px;
  }

  .welcome h1 {
    font-size: 2.25rem;
    padding: 32px 16px;
  }

  .welcome p {
    font-size: 1.5rem;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .welcome h4 {
    height: 32px;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    background-color: gray;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;

}
}

.introduction {
  display: flex;
  background-color: white;
  width: 960px;
  height: 570px;
  flex-direction: column;
  flex-wrap: wrap;
}

.introduction p {
  font-size: 1rem;
}

.practice {
  padding: 32px 12px;
  text-align: left;
  width: 580px;
}

.practice img {
  width: 552px;
}

.practice h2 {
  font-size: 2rem;
  font-weight: bold;
}

.practice p {
  padding-right: 24px;
  padding-bottom: 32px;
}

.practice h4 {
  font-size: 0.75rem;
}

.info {
  width: 368px;
  height: 570px;
}

.information {
  display: inline-flex;
  flex-wrap: nowrap;
  height: 190px;
  width: 360px;
  justify-content: space-around;
  align-items: center;
}

.information .desktop img {
  height: 140px;
}

.information .mobile-image img {
  display: none;
}

.information .hours {
  width: 55%;
  text-align: left;
}

.hours h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.hours h4 {
  color: blue;
  font-size: 1rem;
}

.info .information:nth-child(3n+0) {
  background-color: lightgray;
}

@media only screen and (max-width: 480px) {
  .practice {
    display: none;
  }

  .info {
    height: 2000px;
    width: 480px;
    padding-top: 16px;
  }

  .information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 480px;
    height: 300px;
    padding-left: 16px;
    padding-right: 16px;
    align-items:flex-start;
    justify-content: center;
  }

  .information .desktiop img {
   display: none;
  }

  .mobile-image img {
    width: 480px;
}


  .hours h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .hours h4 {
    color: blue;
    font-size: 1rem;
  }

  .info .information:nth-child(3n+0) {
    background-color: white;

}
}

   /*START LEARNING SECTION*/


.start-learning {
  width: 960px;;
  background-color: skyblue;
}

.start-learning h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
}


.majors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 32px 72px;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 320px;
  background-color: white;
  margin-bottom: 32px;
}

.fields img {
  width: 100%;
  height: auto;
}

.fields h3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  padding-left: 16px;
  padding-top: 16px;
}

.fields p {
  font-size: 1rem;
  padding-left: 16px;
}

.fields h4 {
  padding-left: 16px;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 2px;
}


@media only screen and (max-width: 480px) {

  .start-learning {
    width: 480px;
    background-color: white;
  }

  .start-learning h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .majors {
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
  }

  .fields {
    display: flex;
    justify-content: center;
    width: 440px;
    height: 54px;
    background-color: skyblue;
    background-position:left;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding-top: 16px;
  }

  .fields img {
    display: none;
  }

  .fields h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 16px;
    text-align: left;
    padding-bottom: 1rem;
  }

  .fields p {
   display: none;
  }

  .fields h4 {
   display: none;
  }
}


   /*THESIS SECTION*/

.thesis {
  width: 100%
}


.thesis h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 550px;
  padding-top: 32px;
}

.demos {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
}

.demos video {
  width: 100%;
}

.contents h3 {
  font-weight: bold;
  text-align: left;
  font-size: 1.25rem;
}

.contents p {
  font-size: 1rem;
  text-align: left;
}

.history {
  width: 40%;
  height: 570px;
}

.history .themes:first-child {
  background-color: skyblue;
}

.themes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 180px;
  justify-content: flex-start;
}

.themes img {
  width: 35%;
  padding: 16px;
  height: auto;
}

.themes h3 {
  width: 60%;
}

.themes p {
  width: 60%;
}

@media only screen and (max-width: 480px) {
  .thesis {
    width: 480px;
  }

  .thesis h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding-top: 32px;
  }

  .contents .demos {
    width: 100%;
  }

  .demos video {
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;
  }

  .contents h3 {
  display: none;
  }

  .contents p {
  display: none;
  }

  .history {
   display: none;
  }


  .themes {
  display: none;
  }

  }


   /*FOOTER SECTION*/

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

footer span {
  padding-left: 24px;
}

@media only screen and (max-width: 480px) {

  footer {
    width: 480px;
    height: 60px;
    background-color: white;
}

  footer h5{
    font-size: 1rem;
    text-align: left;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  footer span {
    display: none;
  }
}
